[*.cs]

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = none

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable
